* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(93, 96, 99);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.form-header {
  text-align: center;
  background-color: rgb(50, 58, 63);
  border: 1px solid rgb(27, 27, 27);
  color: white;
  border-radius: 6px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.curr-form {
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 6px;
  width: 80%;
  padding: 50px;
  margin: 0 auto 40px auto;
}

.form-row label {
  margin-bottom: 40px;
}

.line-content {
  margin: 20px;
}

.type-fieldset {
  padding: 10px;
}

.form-row input[type = "text"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type = "email"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.label {
  padding-top: 20px;
}

.line-content {
  margin: 30px 20px;
}

.btn {
  color: white;
  background-color: yellowgreen;
  padding: 15px 30px;
  margin: 20px;
  border: 0;
  border-radius: 6px;
}
